* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

body {
  margin: 0;

  background: #f7f5ef;

  color: #17241b;

  font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
}

::selection {
  background: #173b28;
  color: #fff;
}