.page-transition {
     position: fixed;

     inset: 0;

     z-index: 999999;

     width: 100%;
     height: 100dvh;

     display: flex;

     align-items: center;
     justify-content: center;

     background: #0b291a;

     color: #f5efe2;

     transform: translateY(100%);

     pointer-events: none;

     will-change: transform;
}


.page-transition::before {
     content: "";

     position: absolute;

     width: 420px;
     height: 420px;

     border-radius: 50%;

     border:
          1px solid rgba(255, 255, 255, 0.04);
}


.page-transition::after {
     content: "";

     position: absolute;

     width: 650px;
     height: 650px;

     border-radius: 50%;

     border:
          1px solid rgba(255, 255, 255, 0.025);
}


.page-transition-inner {
     position: relative;

     z-index: 2;

     display: flex;

     flex-direction: column;

     align-items: center;

     gap: 15px;
}


.transition-logo {
     width: 48px;
     height: 57px;
}


.transition-logo svg {
     width: 100%;
     height: 100%;
}


.page-transition-inner>span {
     font-family:
          "DM Sans",
          Arial,
          sans-serif;

     font-size: 8px;

     font-weight: 600;

     letter-spacing: 3px;
}


/* MOBILE */

@media (max-width: 600px) {

     .page-transition::before {
          width: 260px;
          height: 260px;
     }


     .page-transition::after {
          width: 410px;
          height: 410px;
     }


     .transition-logo {
          width: 41px;
          height: 50px;
     }


     .page-transition-inner>span {
          font-size: 7px;

          letter-spacing: 2.5px;
     }

}